.container {
  .form {
    background-color: #f7f7f7;
    border-radius: 0.6%;
    margin-top: 10px;
    width: 600px;
    margin-left: 265px;
  }

}

.everything {
  padding-right: 0 !important;
 // the banner start here
}

.banner {
  color: white;
  text-align: center;
  height: 82vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content #search-form {
  opacity: 1 !important;
  input {
    color: black;
    margin-bottom: 3%;
  }
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
// and ends here


// first section starts here
.first-section {
  background-color: white;
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
// div wrapped around the h3 text
.border-for-the-h3-below {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
}

.inner-h3 {
  text-align: center;
  flex-wrap: wrap;
  color: $brand-success;
}

// container

.innerflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 700px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.ninja {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

.cardcontainer {
  width: 31% !important;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;
  width: auto;
  p{
    color: $brand-success;
    text-align: center;
    margin-top: 12.5px;
  }
}

.name {
  color: $brand-success;
  text-align: center;
  &-description {
    color: $brand-success;
    text-align: center;
    margin-top: 12.5px;
    // text-shadow: 1px 1px #fdf5e6;
  }
}


// first section ends here


// second section starts here
.second-section {
  background-color: white;
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-text{
    width: 50%;
    margin-left: 15%;
    height: auto;
    text-align: right;
    color: $brand-success;
}

.connected{
margin-left: 15px;
}

.all-description{
  margin-top: 10px;
}
// second section ends here



