.container {
  .form {
    background-color: #f7f7f7;
    border-radius: 0.6%;
    margin-top: 10px;
    width: 600px;
    margin-left: 265px;
  }

}


.everything {
  padding-right: 0 !important;
 // the banner start here
}


.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code {
  padding: 0px 30px 0px 30px;
  margin-bottom: 200px;
}
.banner-content #search-form {
  opacity: 1 !important;
  input {
    color: black;
    margin-bottom: 3%;
  }
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#search-form{

}
// and ends here


// first section starts here
.first-section {
  background-color: white;
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
// div wrapped around the h3 text
.border-for-the-h3-below {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
}

.inner-h3 {
  text-align: center;
  flex-wrap: wrap;
  color: $brand-success;
  margin-bottom: 25px;
}

// container

.innerflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 700px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.ninja {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cardcontainer {
  width: 31% !important;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;
  width: auto;
  p{
    color: $brand-success;
    text-align: center;
    margin-top: 12.5px;
  }
}

.name {
  color: $brand-success;
  text-align: center;
  &-description {
    color: $brand-success;
    text-align: center;
    margin-top: 12.5px;
    // text-shadow: 1px 1px #fdf5e6;
  }
}


// first section ends here



// second section starts here
.second-section {
  background-color: white;
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 85px;
  margin-bottom: 85px;
}

.all-text{
  width: 50%;
  margin-left: 15%;
  height: auto;
  direction: rtl;
  text-align: justify;
  color: $brand-success;
}

.title{
  opacity:1;
}
.title:hover{
  opacity:0.5;
}

.connected{
  margin-left: 15px;
}

.all-description{
  margin-top: 10px;
  margin-bottom: 10%;
}

.title {
  padding: 1px;
}
// button starts here

.btn-medium {
  color: $brand-success;
  border: 2px solid $brand-success;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  direction: ltr;
  position: relative;
  margin-top: 20px;
  // top: 1150px;
  // right: 10;
}
.btn-medium:hover {
  color: white;
  border: 2px solid white;
  background-color: $brand-success;
}

//button ends here

// second section ends here

// thrid section starts here
.third-section{
  // background-color: #f2f2f2;
  display: flex;
  height: 400px;
  width: 100%;
  padding: 30px;
  padding-left: 40px;
  justify-content: right;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 85px;
}

.innerdiv-with-image-and-text{
    color: $brand-success;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    border-radius: 10px
}

.image-to-the-right{
  float: right;
  padding-left: 245px;
}

.all-text2{
  margin-left: 35px;
}

.title2{
  margin-bottom: 35px;
}

.paragragh{
  width: 553px;
  height: auto;
  text-align: justify;
  margin-bottom: 60px;
}
//thrid section ends here


//fourth section starts here
.forth-section{
  // background-color: #f2f2f2;
  display: flex;
  height: 400px;
  width: 100%;
  padding: 30px;
  padding-left: 40px;
  justify-content: right;
  flex-direction: row;
  margin-top: 10px;
}

.image-on-both-sides{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.card-for-first-image{
  // margin-left: auto;
  margin-right: 20px;
  display: block;
}

.all-text3{
  color: $brand-success;
  text-align: center;
  margin-bottom: 60px;
}
img.rocket {
    margin-top: 30px;
}
//fourth section ends here

//fifth section starts here

.fifth-section{
  background-color: white;
  display: flex;
  height: 600px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.innerflex2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 700px;
  margin-bottom: 40px;
  border-radius: 10px;
  text-align: center;
}

.card-container{
  width: 25%;
}

img.team{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.meet{
  text-align: center;
  color: $brand-success;
  margin-bottom: 50px;
}

.role{
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 1px;
  color: lightgrey;
}

.team-description{
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.name2 {
  color: $brand-success;
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  &-description {
    color: $brand-success;
    text-align: center;
    margin-top: 12.5px;
    // text-shadow: 1px 1px #fdf5e6;
  }
}
.media-links {
  color: $brand-success;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}

.green-icon {
  color: $brand-success;
}
.fa-github {
 font-size: 30px;
}
//fifth section end here
