.profile-page {
 // min-height: calc(100vh - 70px - 100px);
  height: calc(100vh - 70px);
}

.profile-details {
  margin: 10px;
  padding: 5px;
  border: 1px solid #dadadb;
  // background-color: #194e77;
  border-radius: 5px;
}

.profile {
  padding: 5px;
  color: #2c89d1;
  h4 {
  margin-top: 0px !important;
  }
}

.user-flex {
  display: flex;
}

.avatar-large {
  background-size: cover;
  width: 180px;
  height: 150px;
  border-radius: 48%;
  display: block;
  margin-left: 5px;
}

.find-me{
  display: flex;
  width: 200px;
  padding: 5px;
  margin-left: 10px;
  font-size: 20px;
  text-align: right;
    ul {
      justify-content: right;
      text-align: right;
      margin-bottom: 0px;
    li {
    list-style: none;
    a {
      background-color: transparent;
      color: white;
      }
    }
  }
}

.show-white-card {
  background-color: #FFFFFF;
  border-radius: 2px;
  h4 {
  color: #2c89d1;
  margin-top: 0px !important;
  padding: 2px;
  p {
    color: #ffffff;
  }
  }
}

.card-show-header {
    border-radius: 2px;
    h4 {
    margin-top: 0px !important;
    padding: 1px;
    color: #2c89d1;
  }
}
  .card-show-body {
    padding: 2px;
    }


.user-desc {
  margin-top: 5px;
  h4 {
    color: #2c89d1;
  p {
  padding: 5px;
  font-size: 15px;
  text-align: left;
  color: #ffffff;
  }
}
}

.user-projects {
  margin-top: 5px;
  h4 {
    color: #2c89d1;
  }
  p {color: #ffffff;
  }
}

.project-list {
  color: white;
      li {
    list-style: none;
  }
}


.user-technologies {
  margin-top: 10px;
  h4 {
    color: #2c89d1;
  }
  p {
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  }
}

.settings {
  margin-top: 10px;
  h4 {
    color: #2c89d1;
  }
  p {background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  }
}

.user-projects-card {
  margin: 10px;
  padding: 5px;
  // margin-top: 10px;
  // margin-right: 2%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.user-projects-card-show{
padding: 13px;
width: 50vw;
height: 200px;
text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
background-size: cover;
background-position: center;
color: #2c89d1;
border: 1px solid rgba(0, 0, 0, 0.2);
margin: 10px 0;
margin-left: 10%;
margin-top: 10px;
opacity: 0.85;
box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
border-radius: 16px;
display: flex;
flex-direction: row;
justify-content: space-between;
    .flex-left{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background: red;
      width: 550%;
      text-align: left;
      .project-details{
        h1{
          margin-top: 0px;
          font-size: 24px;
          margin-bottom: 0px;
          color: white;
        }
        .last-updated{
          font-size: 18px;
          font-style: thin;
          margin-bottom: 0px;
          color: white;
        }

        .status-o{
          padding: 6px;
          width: 75px;
          background: linear-gradient(135deg, rgba(85,163,13,1) 0%, rgba(182,237,0,1) 100%);
          border-radius: 25px;
          margin-right: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .w-circle{
            padding: 4px;
            width: 5%;
            height: 6px;
            background-color: white;
            border-radius: 5px;
          }
          .open{
            margin-bottom: 0px;
            color: white;
          }

        }

        .status-c{
          padding: 6px;
          width: 100px;
          background: linear-gradient(135deg, rgba(248,80,50,1) 0%,
           rgba(246,41,12,1) 33%, rgba(250,111,92,1) 91%, rgba(250,111,92,1) 100%);
          border-radius: 25px;
          margin-right: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .w-circle{
            padding: 4px;
            width: 5%;
            height: 6px;
            background-color: white;
            border-radius: 5px;
          }
          .closed{
            margin-bottom: 0px;
            color: white;
          }

        }

        .tags{
          float: left;
          color: white;
        }
      }
    }

    .flex-right{
      display: flex;
      flex-direction: column;
      // background: blue;
      width: 100%;
      float: right; // Check this!!
      .avi-detail{
        background-size: cover;
        width: 90px;
        height: 90px;
        border-radius: 16px;
        float: right;
        .progress {
          margin-top: 10px;
        }
      }
    }

    &:hover{
      transition: 0.4s;
      opacity: 0.6;
    }
}


