.project-page {
  max-height: calc(100vh - 70px);
  background-color: #FFFFFF;
}

.details {
  margin: 5px;
  border: 1px solid #dadadb;
  background-color: #f4f1f9;
  box-shadow: 1px 1px 5px #888888;
}

.details h1 h3 {
  border: 1px solid #dadadb;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 0px !important;
  margin-bottom: 5px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
}


  h3{  color: black; }
  p { font-size: 20px;  }

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.buttons{
  h3{
    color: red;
  }
}



.targets {
  margin: 5px;
  background-color: #f4f1f9;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.target-bar {
  width: 200px;
  height: 260px;
  padding-right: 100px;
}

.task-container {
  overflow-x: hidden !important;
  margin: 5px;
  height: 800px;
  box-shadow: 1px 1px 5px #888888;
  border: 1px solid #dadadb;
  padding: 5px;
  font-size: 30px;
  text-align: left;
}


#To-Do {
border-left: 1px solid  #dadadb;
border-right: 1px solid  #dadadb;
border-bottom: 1px solid  #dadadb;
}

#Completed {
border-left: 1px solid  #dadadb;
border-right: 1px solid  #dadadb;
border-bottom: 1px solid  #dadadb;
}

#Create {
border-left: 1px solid  #dadadb;
border-right: 1px solid  #dadadb;
border-bottom: 1px solid  #dadadb;
}

#Options {
border-left: 1px solid  #dadadb;
border-right: 1px solid  #dadadb;
border-bottom: 1px solid  #dadadb;
}

    // ul  li {
    //   /*list-style: none;*/
    // }

    .tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      background: #f4f1f9;
    }

    .tabs li{
      background: #dedce3;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 20px;

    }

    .tabs li.current{
    background: #f4f1f9;
    color: #222;
    border-top: 1px solid #dadadb;
    border-left: 1px solid #dadadb;
    border-right: 1px solid #dadadb;
    border-bottom: 0px;
    }

    .tabs li:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.3;
  color: black;
}

    .tab-content{
      display: none;
      background: #f4f1f9;
      padding: 5px;
    }

    .tab-content.current{
      display: inherit;
      overflow-x: hidden !important;
    }

.tab:first-child {
    border-radius: 10px 0 0 0;
}

.tab:last-child {
    border-radius: 10px 0 0 0;
}

.tab.active {
  background: white;
  color: black;
}

.buttons {
  margin: 5px;
  background-color: #f4f1f9;
  box-shadow: 1px 1px 5px #888888;
  border: 1px solid #dadadb;
  font-size: 30px;
  text-align: center;
}





