.sidebar::-webkit-scrollbar{
  width: 5px;
}
.tab-content::-webkit-scrollbar{
  width: 5px;
}

.project {
  border-top: 1px solid #dadadb;
  background-color: #FFFFFF;
}

.details {
  margin: 5px;
  border: 1px solid #dadadb;
  background-color: #f4f1f9;
  box-shadow: 1px 1px 5px #888888;
}

.details h1 h3 {
  border: 1px solid #dadadb;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 0px !important;
  // margin-bottom: 5px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
}

.task-name h3{  color: black; }
  p { font-size: 20px;  }


.buttons{
  h3{
    color: red;
  }
}


.targets {
  margin: 5px;
  background-color: #f4f1f9;
  box-shadow: 1px 1px 5px #888888;
  border: 1px solid #dadadb;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.target-bar {
  width: 200px;
  height: 260px;
  padding-right: 100px;
}

.task-container {
  overflow-x: hidden !important;
  margin: 5px;
  height: 800px;
  // box-shadow: 1px 1px 5px #888888;
  // border: 1px solid #dadadb;
  padding: 5px;
  font-size: 30px;
  text-align: left;
  // border-radius: 5px;
}

.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  background: #34495e;
}

.tabs li{
  background: #dedce3;
  // color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  flex: 0 0 25%;
  border-radius: 20px;
}

.tabs li.current{
background: #f4f1f9;
color: #222;
border-top: 1px solid #dadadb;
border-left: 1px solid #dadadb;
border-right: 1px solid #dadadb;
border-bottom: 0px;
}

.tabs li:hover {
cursor: pointer;
text-decoration: none;
opacity: 0.3;
color: black;
}

.section small {
  color: white;
 }

.tab-content.current{
  display: inherit;
  overflow-x: hidden !important;
}


.tab.active {
  background: white;
  color: black;
}

.buttons {
  margin: 5px;
  background-color: #f4f1f9;
  box-shadow: 1px 1px 5px #888888;
  border: 1px solid #dadadb;
  font-size: 30px;
  text-align: center;
}

.options-list {
  ul {
    padding: 5px;
    border: 1px solid #dadadb;
    background-color: white;
    box-shadow: 1px 1px 5px #888888;
  li {
    list-style: none;

  h4 {
    margin-top: 10px;
    font-size: 30px;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
