.row{
  margin: 0px !important;
}

.wholeflex{
  display: flex;
  justify-content: space-between;
  // height: calc(100vh - 70px);

  .container{
    // overflow-y: scroll;
    padding: 0px;
  }

  .sidebar-results{
    width: 35vw;
    height: 100%;
    background: #0e131d;

    .tags-flex{
      // height: calc(100% - 100px);
      // overflow-y:scroll;

      h2{
        margin-top: 10px;
        font-size: 24px;
        color: white;
        opacity: 0.3;
      }

      .tags-result{
        box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
        opacity: 0.8;
        z-index: 100;
        &:hover{
          transition: 0.7s;
          opacity: 1;
          cursor: pointer;
        }

      }
    }

    .tagwithname{
      display: flex;
      height: 65px;
      align-items: center;
      margin-top: 2px;
    }

      .tag-icon{
        width: 31px;
        height: 31px;
      }

      h1{
        font-size: 1.5vw;
        font-weight: bold;
        color: gray;
        margin: 0px;
        margin-left: 5px;
        opacity: 0.8;
        &:hover{
          transition: 0.5s;
          // color: white;
        }
      }

  }

  // .results{
  //   padding: 20px;
  // }

}

//Scrolling
// .tags-flex::-webkit-scrollbar{
//   width: 5px;
// }

.card-results::-webkit-scrollbar{
  width: 5px;
}

.tag-active {
  background: #5dabea;
}

.card-results {
  // width: 73vw;
  height: 123vh;
  overflow-y: scroll;
}

@media(max-width: 770px){
  .sidebar-results{
    min-width: 320px !important;
  }
}

@media(max-width: 976px){
  .project-details{
    max-width: 100px;
  }
  .sidebar-results{
    min-width: 200px;
    h1 {
      font-size: 18px !important;
    }
  }
}

@media(max-width: 976px) {
  .wholeflex {
    flex-direction: column;
  }
  .sidebar-results{
    min-width: 100% !important;
  }

  .project-details{
    max-width: 100px;
  }
}
