<div class="profile-page">
<h1 class="name text-center">User.name profile</h1>

  <div class="profile-grid">

    <div class="photo-grid-item-1">
      <div class="show-white-card text-center">
        <div class="card-show-header">
           <h4>user.name</h4>
        </div>
        <div class="avatar-large text-center" style="background-image: url(<%= image_path('Me.jpg',
          width: 300, height: 300, crop: :thumb) %>)">
        </div>
      </div>
    </div>

    <div class="description-grid-item-2">
      <div class="description">
        <h2>This is the user description </h2>
          <h3> Hello My I am a coder </h3>
          <p>user.description</p>
      </div>
    </div>

    <div class="tech-grid-item-3">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Setting</h4>
        </div>
        <div class="card-show-body">
          <p>Edit profile</p>
          <p>Edit projects</p>
        </div>
      </div>
    </div>

    <div class="dashboard-grid-item-4">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Current Projects | Completed Projects </h4>
        </div>
        <div class="dashboard-card">
          <p>Overall data</p>
        </div>
      </div>
    </div>

    <div class="settings-grid-item-5">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Technologies used</h4>
        </div>
        <div class="card-show-body">
          <p>Ruby</p>
          <p>HTML</p>
          <p>CSS</p>
          <p>Javascript</p>
        </div>
      </div>
    </div>

    <div class="projects-grid-item-6">
      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Projects</h4>
        </div>
      </div>

      <div class="profile-project-card">
      </div>

      <div class="profile-project-card">
      </div>

      <div class="profile-project-card">
      </div>

    </div>

  </div>
</div>

