<h1 class="name">User Profile</h1>

<div class="profile-page">
  <div class="container">
    <div class="col-xs-12 col-md-3">

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>User name</h4>
        </div>
     <!--      <% #if  @user.photo.present? %>
            <div class="avatar-large" style="background-image: url('<%= cl_image_path @user.photo %>');">
          <% #else %>
            <div class="avatar-large" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300')">
          <% #end %> -->
        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Technologies used</h4>
        </div>
        <div class="card-show-body">

        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Git-hub</h4>
        </div>
        <div class="card-show-body">

        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4 class="h4">Profile settings</h4>
        </div>
        <div class="card-show-body">
       <!--    <%= link_to #"Edit Profile", edit_user_registration_path(@user) if @user == current_user%> -->
        </div>
      </div>
    </div>

  </div>
</div>
