
.btn{
  font-weight: bold;
  margin-top: 1% !important;
  border-radius: 4px;

}

.github-btn{
  background: linear-gradient(to bottom, rgba(0,216,83,1) 0%, rgba(0,216,83,0.96) 18%, rgba(0,174,70,0.77) 100%);
  background-color: #00C84D;
  border-radius: 5px;
  color: white;
}
