
.btn{
  font-weight: bold;
  margin-top: 1% !important;
  border-radius: 4px;

}

.github-btn{
  background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  padding: 6px 10px;
  background-color: #00C84D;
  border-radius: 5px;
  color: white;
}
