.task-form {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  // width: 40%;
  padding: 10px 40px !important;
  width: 500px;
}

.form-control {
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid white;
  color: white;
}

.form-user {
  background-color: linear-gradient(360deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
  margin-top: 50px;
  border-radius: 5px;
  width: 50%;
  margin-left: 24%;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

.form-user-profile {
  background-color: linear-gradient(360deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
  margin-top: 50px;
  border-radius: 5px;
  // width: 50%;
  // margin-left: 24%;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}


// Checkboxes design for creating a project
.technology-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 24%;
}


.user-technology-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // width: 50%;
  // margin-left: 24%;
}


.technology-choice {
  margin: 10px 0;
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    transition: 0.5s;
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $brand-primary;
  color: white;
  opacity: 1;
  }
}


.div-label{
  // display: flex;
  color: white;
  text-align: center;
    textarea{
      text-align: center;
    }
    input{
      text-align: center;
    }
    select{
      text-align: center;
    }
}


.form-control{
  text-align: center;
}


#project_image {
  // margin: 0 auto;
}


.file_button_container input {

  margin: 10px auto;
  height: 47px;
  width: 263px;
 }

.file_button_container {
  background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
  crop-top: 10%;
  margin-left: 26%;

}

.file_button_container input {
  opacity: 0;
}


.cover{
  background-image: linear-gradient(to right, #141e30, #243b55);
  min-height: 100vh;
  padding: 20px;
  border-radius: 5px;
}

.task-form{
  display: flex;
  width: 1300px;
  height: 400px;
  margin-bottom: 150px;
}

.control-label{
  color: white;
  margin: auto;
  text-align: center;
}

.task-butt {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 50%;
  margin-top: 50px;
  margin-left: 24%;
    p {
      color: white;
    }
  a {
    // margin-top: 10px;
    padding: 10px;
    color: white;
    text-align: left;
    .back {
    }
  }
}

.task-butt-edit {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
  .back {
    // margin-top: 20px;
  }
}


.proj-edit {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 50%;
  margin-top: 50px;
  margin-left: 24%;
  .back {
    margin-top: 20px;
  }
}




.task-simple_form{
  .form-group{
    margin-bottom: 2%;
    margin-left: 25%;
    width: 50%;
  }
}
option{
  color: black;
}


