.request-content {
    margin: 10px;
 label{
  margin: 10px;
  font-weight: lighter !important;
  color: white !important;
  }
}

.request-content {

.invite {
color: black !important;
  }
}

.request-send-button {
  margin: 10px;
}
