.search-bar-index{
  position: relative;
  #search{
    width: 55%;
    padding: 10px;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
  }
  .search-go{
    padding: 13px 14px;
    border-radius: 10px;
    background-color: #00ae45;
  }
  .fa-search{
    position: absolute;
    top: 20%;
    right: 27%;
    font-size: 33px;
    opacity: 0.3;
  }

}
