.avi-small {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 16px;
}

.task {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 20px 10px 10px;
  border: 1px solid #dadadb;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
  border-left: 6px solid red; /*will need to change for difficulty logic*/
}

.task:hover {
  background: #f7f7fa;
  cursor: pointer;
}

.task-status:hover p {
  transform: scale(1.32);
  color: #d80a0a;
}

.task-name:hover h3 {
  color: #5898f1;
  transform: scale(1.2);
}

.description {
  flex-grow: 1;
  padding: 5px;
  width: 80%;
  p {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  padding-right: 20px;
  }
}

.task-name {
  padding-left: 10px;
  min-width: 100px;
}

.task-name h3 {
  font-size: 15px;
  margin-bottom: 0px;
  padding-left: 5px;
}

.task-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  padding-left: 5px;
}

.task-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}

.task-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}

.task-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}

.task-body p {
  margin: 6px 10px;
}

.task-status {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.status.accepted {
  color: #04A366;
}

.status.declined {
  color: red;
}

.status.pending {
  color: #fbfaf8;
}

.task-buttons {

padding-bottom: 10px;
border-bottom: 1px solid #dadadb;
}

.profile-header-infos {
  display: flex;
  align-items: center;
}
.profile-header-username {
  flex: 1 1 auto;
  padding: 20px;
}


.btn-success {
  margin-top: 0px !important;
}
